html,body{
    height: 100%;
}

.containerAll{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.containerGrid{
    max-height: 960px;
    max-width: 960px;
   height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.container{
    display: flex;
    
    justify-self: center;
    justify-items: stretch;
    align-content: stretch;  
    flex: 1;
 }
.grid{
    display: flex;
   min-width: 2px;
    min-height: 2px;
    width: 100%;
    justify-items: stretch;
    align-content: stretch;  
border-style: solid;

}
.footer{
    display: flex;
}

.hovered{
    background-color: #ffcccc;
}
.fifty{
    background-color: 	 #ff9999;
}
.hundred{
    background-color: red;
}